<?php

use PhpCsFixer\Finder;
use PhpCsFixer\Config;

if (!is_dir(__DIR__ . '/var/cache/')) {
    mkdir(__DIR__ . '/var/cache/', 0755, true);
}

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
    ->exclude('bundles.php')
;

$fileHeaderComment = <<<COMMENT
This script is part of incwadi/core
COMMENT;

return Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => [
          'syntax' => 'short'
        ],
        'header_comment' => [
            'header' => $fileHeaderComment,
            'separate' => 'both'
        ],
        'linebreak_after_opening_tag' => true,
        'ordered_imports' => [
          'sortAlgorithm' => 'alpha'
        ],
        'ordered_class_elements' => true,
        'phpdoc_order' => true,
        'trailing_comma_in_multiline_array' => false
    ])
    ->setFinder($finder)
    ->setCacheFile(__DIR__ . '/var/cache/.php_cs.cache')
;
