parameters:
  autoload_files:
    - vendor/bin/.phpunit/phpunit-7.4/vendor/autoload.php
  symfony:
    container_xml_path: '%rootDir%/../../../var/cache/dev/srcIncwadi_Core_KernelDevDebugContainer.xml'

includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-doctrine/rules.neon
  - vendor/phpstan/phpstan-symfony/extension.neon
